@(details: ProfileInfo)

@main("Profile of " + details ) {
	<h3 class="h3" style="margin-left: 20px; margin-top:10px;"> User Profile Details </h3>

    <li><Strong>Profile page: </Strong>  <a href="https://github.com/@details.getLogin">@details.getLogin</a>
    <li><Strong>User name: </Strong>@details.getName 
    <li><Strong>Bio: </Strong>@details.getBio
    <li><Strong>Company: </Strong>@details.getCompany
    <li><Strong>Blog: </Strong>@details.getBlog
    <li><Strong>Location: </Strong>@details.getLocation
    <li><Strong>Email: </Strong>@details.getEmail
    <li><Strong>Twitter: </Strong>@details.getTwitter		
    <li><Strong>Followers: </Strong>@details.getFollowers
    <li><Strong>Following: </Strong>@details.getFollowing
    
    @if(details.getRepos.isEmpty()){
    <li><Strong>Repository: </Strong> No repos
    } else {
    <li><Strong>Repository: </Strong> 
    	@for(repo <- details.getRepos){
    	<p style="margin-left: 50px;">
    	<a href="/repository/@details.getLogin/@repo">@repo</a> </p>
    	 
    	}
    }
    
}