@(repoDetails: RepositoryProfile)

@main("Repository:" + repoDetails) {

<h3 class="h5" style="margin-left: 20px; margin-top:10px;"> Repository Details </h3>

<div class="border" style="margin-top:20px;">
    <ul>
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Name of Repository : </strong> @repoDetails.name </p></li>
        <hr class="my-1">
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Description : </strong> @repoDetails.description </p></li>
        <hr class="my-1">
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Created At : </strong> @repoDetails.created_at </p></li>
        <hr class="my-1">
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Last Updated on : </strong> @repoDetails.updated_at </p></li>
        <hr class="my-1">
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Number of Stars :  </strong> @repoDetails.stargazers_count </p></li>
        <hr class="my-1">

        @if(repoDetails.topics.isEmpty()) {
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Topics :  </strong> No Topics </p></li>
        } else {
        <li><p style="margin-left: 20px; margin-top:10px;"> <strong> Topics :  </strong>
        @for(topic <- repoDetails.topics) {
        <a href="/topic/@topic" class="badge badge-secondary">@topic</a> , &nbsp;
        }
        </p> </li>
        }

    </ul>
</div>
}