@import play.mvc.Http.Request
@(topic: String, request: Request)

<html lang="en">
    @header("Topic: " + topic) {
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/list_repositories.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/topic.js")'></script>
    }
    @body(routes.SearchController.topicWebSocket.webSocketURL(request)) {
        <input type="hidden" id="topic" value="@topic">
        <div class="border" id="results">
        </div>
    }
</html>